
:root{
--primary-color:#55c57a;
--primary-color-light:#cc5496;
--primary-color-dark:#4b36c4;
}

body{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    background-image:linear-gradient(to right,var(--primary-color-light),var(--primary-color-dark));
    padding: 30px;
    color: white;
    font-size: 110%;
    font-family: monospace;
    border-bottom: 1px solid white;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}


.square{
    width:30%;
    margin:1.66%;
    padding-top:30%;
    background-color: brown;
    float: left;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    transition: all 0.5s;
}



.padding{
    width:30%;
    margin:1.66%;
    padding-top:30%;
    float: left;
}

.options{
    background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color-dark));
    height: 30px;
    text-align: center;
    color: white;
    padding-top:6px; 
    position: relative;
    

}

.span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 6%;
    font-family: monospace;
    font-size: 16px;
}



.reset{
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%,-50%);
    
}

#reset{
   
    
    text-decoration: none;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 100px;
    font-family: monospace;
    color:black;


}

#reset:hover{
    color:white;
    background-color: black;
}

.btns{
    position: absolute;
    top: 50%;
    left: 68.3%;
    transform: translate(-50%,-50%);
    padding-left: 3%;
}

.hard{
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 100px;
    font-family: monospace;
    color:black;
    background-color: whitesmoke;
    margin-right: 5px;

    
}

.hard:hover{
    color:white;
    background-color: black;
}

.easy{
    text-align: center;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 100px;
    font-family: monospace;
    color:black;

}

.easy:hover{
    color:white;
    background-color: black;
}

.selected{
    background-color: rgb(153, 208, 253);
}